<!-- sidebar.html -->
<header class="sidebar-header" role="banner">
	<a href="{{ site.BASE_PATH }}">
		<img src="{{site.author.uno-dbyll}}" class="img-circle" style="border-radius: 50%;
border: 3px solid #FFF; height:150px;width:150px" />
	</a>
	<h3 class="title">
        <a href="{{ site.BASE_PATH }}">{{ site.title }}</a>
         <p style="font-size:20px;">{{ site.author.role }}</p>
    </h3>
    
    <hr class="hr-line">
<h3 class="title">
         <p style="font-size:18px">{{ site.author.bio }}</p>
    </h3>

    <hr class="hr-line1">
 <h3 class="title" style="font-size:30px;">
 
       {% if site.author.github %}
      <a type="button" class="social1" href="http://github.com/{{ site.author.github }}" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      {% endif %}
      {% if site.author.linkedin %}
      <a type="button" class="social1" href="{{ site.author.linkedin }}" target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>
      {% endif %}
       {% if site.author.twitter %}
      <a type="button" class="social2" href="http://twitter.com/{{ site.author.twitter }}" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      {% endif %}
     
      {% if site.author.email %}
      <a type="button" class="social3" href="mailto:{{ site.author.email }}">
        <i class="fa fa-envelope"></i>
      </a>
      {% endif %}
      </h3>

</header>



<!-- sidebar.html end -->
